.App {
  text-align: center;
}

.horizontal {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.horizontal li {
  margin-right: 15px;

}
.we {
  font-size: 180px;
}
.you {
  font-size: 80px;
  justify-content: flex-end;
  padding-left: 30px;
  line-height: 1.11;
}
li.span {
  justify-content: flex-start;
}
